.background {
  background-image: url(../../assets/image/bg-image/section-background.png);
  background-repeat: repeat;
}
.pageBoat {
  padding: 80px 32px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
