.avatarUser {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-grey-600);
}
.avatarUser img {
  display: block;
  width: 3rem;
  width: 2.6rem;
  aspect-ratio: 1;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  outline: 2px solid var(--color-grey-100);
}
@media only screen and (max-width: 1024px) {
  .avatarUser {
    display: none;
  }
}
