.breadCrumbsWrapper {
  border-bottom: 1px solid var(--gray-200, #eaecf0);
}
.breadCrumbs {
  padding: 16px 32px;
}
.title {
  color: var(--primary-dark, #0e4f4f);
  stroke: var(--primary-dark);
  fill: #fff;
  cursor: pointer;
}
.title:hover {
  color: var(--primary-base);
  stroke: var(--primary-base);
}
.breadCrumbsTitle svg {
  width: 16px;
  height: 16px;
  color: var(--gray-300);
}
.breadCrumbsTitle {
  display: flex;
  align-items: center;
  gap: 12px;
}
.breadCrumbsIcon {
  color: var(--gray-600);
  fill: #fff;
  stroke: var(--gray-600);
  cursor: pointer;
}
.breadCrumbsIcon svg {
  width: 23px;
  height: 23px;
}
.breadCrumbsContent {
  display: flex;
  align-items: center;
  gap: 12px;
}
.breadCrumbsLink {
  color: var(--gray-600);
  fill: #fff;
  stroke: var(--gray-600);
  cursor: pointer;
}

.breadCrumbsLink:hover {
  color: var(--gray-800);
  stroke: var(--gray-800);
}
.breadCrumbs {
  padding: 16px 32px;
}
