.paddingBig {
  padding: 16px 20px;
  white-space: nowrap;
}
.paddingNormal {
  padding: 10px 16px;
  white-space: nowrap;
}
.paddingSmall {
  padding: 8px 16px 8px 8px;
  white-space: nowrap;
}
/* nếu k importan thì bị ảnh hưởng bới activeButton của section đánh giá những người đã trải nghiệm  */
.colorBlue {
  background-color: var(--primary-base);
  border: 1px solid var(--primary-base);
  color: var(--primary-dark);
  fill: var(--primary-dark);
}
.colorBlue:hover {
  background-color: var(--primary-dark);
  color: #fff;
  cursor: pointer;
  fill: #fff;
}
.colorNormal {
  background: linear-gradient(0deg, #fff, #fff), linear-gradient(0deg, #eaecf0, #eaecf0);
  border: 1px solid #eaecf0;
  color: var(--gray-800);
  fill: var(--gray-800);
}
.colorNormal:hover {
  background: var(--gray-50);
  color: var(--gray-700);
  fill: var(--gray-700);
  cursor: pointer;
}
.buttonFlex {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colorPink {
  background: #fff8f8;
  border: 1px solid #eaecf0;
  color: var(--gray-800);
  fill: var(--gray-800);
}
.colorPink:hover {
  background: var(--gray-50);
  color: var(--gray-700);
  fill: var(--gray-700);
  cursor: pointer;
}
.activeButton {
  background: var(--gray-50);
  color: var(--gray-700);
  fill: var(--gray-700);
  cursor: pointer;
}
.defaults {
  width: 100%;
}
button:disabled {
  background-color: var(--primary-dark);
  color: #fff;
  cursor: pointer;
  fill: #fff;
}
