.icon {
  width: 30px;
  height: 30px;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.boxFilter {
  width: 210px;
  position: relative;
}
.price {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  padding: 16px 20px;
  padding: 16px 20px;
  border-radius: 28px;
  border: 1px solid var(--gray-200);
  box-shadow: var(--shadow-xs);
  display: flex;
  align-items: center;
  gap: 8px;
  fill: var(--base-white);
  cursor: pointer;
}
.price.active {
  border: 2px solid var(--primary-base);
}

.price_title {
  text-align: left;
  font-size: 16px;
  color: var(--gray-800);
  height: 24px;
  background: var(--base-white);
  line-height: 24px;
  font-weight: 400;
  border: none;
  padding: 0;
  cursor: pointer;
}
.box_dropdown {
  display: none;
}

.dropdown {
  min-width: 300px;
  width: fit-content;
  padding-top: 10px;
  position: absolute;
  inset: 0 auto auto 0;
  transform: translate3d(0, 70px, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #f2f4f7);
  background: var(--base-white, #fff);
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03), 0 20px 24px -4px rgba(16, 24, 40, 0.08);
  z-index: 1;
  overflow-y: auto;
  max-height: 240px;
}

.dropdown_item {
  width: 100%;
  padding: 15px 30px;
  cursor: pointer;
}
.dropdown_item:hover {
  width: 100%;
  background: var(--gray-50, #f9fafb);
}
.dropdown_item.active_option {
  color: var(--base-white);
  background-color: var(--primary-base);
}
@media (max-width: 1024px) {
  .boxFilter {
    width: 100%;
  }
  .dropdown {
    width: 100%;
  }
}
