.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}
.header_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  border-bottom: 1px solid var(--gray-200);
}
.header__shrink {
  position: sticky;
  top: 0;
  left: 0;
  background: #fff;
  /* Chèn  lên trước tất cả mọi thứ */
  z-index: 20;
  box-shadow: 5px 5px 15px -5px #fde4e4;
}

.naviMobile {
  position: fixed;
  top: 15%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.534);
  z-index: 2;
  /* Bước gần cuối khi điều chỉnh xong thì ẩn nó đi vì khi cần kích vào icon 3 gạch thì mới cần hiện */
  display: none;
}
.show__menu {
  display: block;
}
@media only screen and (min-width: 1024px) {
  .naviMobile {
    display: none;
  }
}
@media only screen and (max-width: 1280px) {
  .container {
    padding: 0 20px;
  }
}
