.nav_mobile {
  position: fixed;
  /* top: 100px; */
  min-width: 0;
  left: 0;
  width: 100%;
  transform: translate3d(0, 0px, 0);
  border: 1px solid var(--gray-100, #f2f4f7);
  background: var(--base-white, #fff);
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03), 0 20px 24px -4px rgba(16, 24, 40, 0.08);
  z-index: 1;
}
.nav_mobile ul {
  border-radius: 8px;
}
.nav_mobile ul li {
  width: 100%;
  padding: 15px 20px;
  gap: 5px;
}
.nav_mobile ul li a {
  max-width: 100%;
}
.active {
  background: var(--primary-base);
  color: var(--base-white);
}
.phone {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--primary-dark);
  font-weight: 700;
  padding: 10px;
}
.contact {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media only screen and (min-width: 1024px) {
  .nav_mobile {
    display: none;
  }
}
