.productCard_cardList {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
.polularShips_cardGrid {
  width: 384px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
}
.polularShips_cardLayout {
  border-radius: 32px;
  border: 1px solid var(--gray-200, #eaecf0);
  background: var(--base-white, #fff);
  box-shadow: var(--shadow-sm);
}
.productCard_cardImageWrapper {
  padding: 16px 16px 0;
  position: relative;
}
.productCard_imageWrapper {
  width: 352px;
  height: 216px;
  position: relative;

  border-radius: 24px;
  overflow: hidden;
  box-shadow: 0 4px 6px -2px rgba(16, 24, 40, 0.06), 0 12px 16px -4px rgba(16, 24, 40, 0.1);
  max-width: 100% !important;
}
.productCard_image {
  object-fit: cover;
}

/* .productCard_cardContent {
  flex-grow: 1;
} */
.productCard_cardBody {
  display: flex;
  padding: 0 24px;
  flex-direction: column;
  /* align-items: flex-start; */
  gap: 8px;
  align-items: stretch;
}
.productCard_cardLocated {
  color: var(--gray-700, #344054);
  max-width: 100%;
  background-color: var(--gray-100);
  padding: 2px 8px;

  border-radius: 16px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 4px;
}
.productCard_cardLocated svg {
  width: 12px;
  stroke: var(--gray-500);
  height: 12px;
}
.productCard_cardLocated > span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.productCard_cardTitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: var(--gray-600, #475467);
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.productCard_cardDesc {
  display: flex;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  color: var(--gray-600);
}
.productCard_cardDesc > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.productCard_cardFooter {
  padding: 20px 24px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.productCard_cardprice {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: var(--primary-dark, #0e4f4f);
}
.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px 2px 6px;
  gap: 4px;
  position: absolute;
  top: 28px;
  left: 28px;
  color: var(--warning-dark, #7a2e0e);
  background-color: var(--warning-light);
  border-radius: 16px;
  width: fit-content;
  cursor: pointer;
}
.badge svg {
  stroke: var(--warning-base);
  width: 12px;
  height: 12px;
}
.badge span {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 1024px) {
  .polularShips_cardGrid {
    width: 345px;
  }
  .productCard_cardList {
    gap: 16px;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 320px) {
  .polularShips_cardGrid {
    width: 280px;
  }
}
