.search_input {
  position: relative;
  flex: 1 0;
}
.card_label {
  position: relative;
  padding: 16px 20px;
  border-radius: 28px;
  border: 1px solid var(--gray-200);
  box-shadow: var(--shadow-xs);
  display: flex;
  align-items: center;
  gap: 8px;
  fill: var(--base-white);
}
.card_label:focus-within {
  border: 2px solid var(--primary-base);
}
.card_label input {
  border: none;
  flex-grow: 1;
  width: 0;
  color: var(--gray-800);
  height: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.icon {
  width: 20px;
  height: 20px;
}
.dropdownInput {
  min-width: 100%;
  width: fit-content;
  padding-top: 10px;
  position: absolute;
  inset: 0 auto auto 0;
  transform: translate3d(0, 70px, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--gray-100, #f2f4f7);
  background: var(--base-white, #fff);
  box-shadow: 0 8px 8px -4px rgba(16, 24, 40, 0.03), 0 20px 24px -4px rgba(16, 24, 40, 0.08);
  z-index: 1;
  overflow-y: auto;
  max-height: 240px;
}
.show__menu {
  display: block;
}

.dropdown_item {
  width: 100%;
  padding: 15px 30px;
  cursor: pointer;
}
.dropdown_InputItem {
  padding: 20px;
  width: 100%;
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dropdown_item:hover {
  width: 100%;
  background: var(--gray-50, #f9fafb);
}
.dropdown_img {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
}
.dropdown_img img {
  object-fit: cover;
}
@media (max-width: 600px) {
  .dropdown_item {
    padding: 10px 8px;
  }
}
