.sliderContainer {
  width: 98%;
  padding: 0 24px;
  margin: auto;
  position: relative;
}

.mainSliderWrapper {
  position: relative;
}

.mainSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 60vh;
  flex-shrink: 0;
  cursor: pointer;
}

.mainImage {
  object-fit: cover;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  height: 100%;
}

.thumbnailWrapper {
  max-width: 30vw;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.thumbnailSlide {
  padding-right: 10px;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.thumbnailImage:hover {
  transform: scale(1.1);
}
.thumbnailContent {
  border: 2px solid #fff;
  min-width: 66px;
  width: 66px;
  height: 66px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .thumbnailWrapper {
    display: none;
  }
  .mainImage {
    overflow: hidden;
    border-radius: 60px;
  }
}
